:root{
  --color-bg-main: hsl(222, 26%, 31%);
  --color-bg-switch: hsl(223, 31%, 20%);
  --color-cir-switch: hsl(6, 63%, 50%);

  --color-bg-output: hsl(224, 36%, 15%);
  --color-bg-keyboard: hsl(223, 31%, 20%);
  --color-bg-key-keyboard: hsl(30, 25%, 89%);
  --color-bg-shadow-key-keyboard: hsl(28, 16%, 65%);

}