@import url(/theme-1.css);
@import url(/theme-2.css);
@import url(/theme-3.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
}

ul {
  list-style-type: none;
}
main {
  display: flex;
  height: 100vh;
}
/*//////////////////////////////////COntainer//////////*/
.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem 1.5rem;
  width: 100%;
}
/*/ /////////////////////////////////ARea header///////*/
.area-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*/ ////////////////////////ARea theme///////*/
.area-theme {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.desc-theme {
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 1.4rem;
  margin-bottom: 0.2rem;
}
/*/ ////////////////////////ARea switch///////*/
.area-switch {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.info-switch {
  display: flex;
  column-gap: 0.9rem;
  margin-bottom: 0.2rem;
}
.info-theme-switch {
  font-size: 12.08px;
}
.switch {
  width: 71px;
  height: 26px;
  border: none;
  border-radius: 1.5rem;
  padding: 0rem 0.3rem;
}
.th-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.th-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.th-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.circle-switch {
  width: 16px;
  height: 16px;
  border-radius: 2rem;
}
/*/ /////////////////////////////////ARea result///////*/
.area-result {
  margin-top: 1.82rem;
}
#output-result {
  width: 100%;
  height: 88px;
  border: none;
  border-radius: 0.58rem;
  text-align: end;
  font-size: 32px;
  font-weight: 700;
  padding: 0rem 1rem;
}
/*/ /////////////////////////////////ARea keyboard///////*/
.area-keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.5rem;
  border-radius: 0.58rem;
  padding: 1.5rem;
  gap: 1.05rem 0.8rem;
}
.key-keyboard {
  width: 60.14px;
  height: 60px;
  border: none;
  border-radius: 0.3rem;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Spartan', sans-serif;
}
.key-del {
  font-size: 16px;
  text-transform: uppercase;
}
.key-reset {
  width: 100%;
  grid-column: 1/3;
  font-size: 16px;
  text-transform: uppercase;
}
.key-result {
  width: 100%;
  grid-column: 3/5;
  font-size: 16px;
}
